
bin/
obj/


*.fsproj.nuget.dgspec.json
*.fsproj.nuget.g.props
*.fsproj.nuget.g.targets
project.assets.json
project.nuget.cache


**/*.fable-temp.*


node_modules/


npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.env


.vscode/
.idea/


Thumbs.db
.DS_Store


coverage/
